<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197307434480-26mnd4oomjbmpo32hohkrmoc2bj7ukv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197307434480-26mnd4oomjbmpo32hohkrmoc2bj7ukv2</string>
	<key>API_KEY</key>
	<string>AIzaSyCIQZHzSzgNuvA0YKlUESudfw_ncPvM_Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>197307434480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deal.io-user</string>
	<key>PROJECT_ID</key>
	<string>dealio-database</string>
	<key>STORAGE_BUCKET</key>
	<string>dealio-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:197307434480:ios:141c310395cc0179210935</string>
	<key>DATABASE_URL</key>
	<string>https://dealio-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>
